.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
}

.contentContainer {
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    margin-bottom: 10rem;

    @media (max-width: 1000px) {
        min-width: 100%;
        gap: 1.5rem;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    justify-content: space-between;

    .title {
        font-family: var(--font-dm-serif-display);
        font-size: 6rem;
        margin: 0;
        line-height: 0.8;
        letter-spacing: 0.1rem;
        font-weight: 400;
    }

    .date {
        font-family: var(--font-inter);
        color: #888;
        font-size: 1rem;
        margin: 0;
    }

    @media (max-width: 1000px) {
        .title {
            font-size: 5rem;
        }

        .date {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 700px) {
        .date {
            display: none;
        }
    }
}

.description {
    font-family: var(--font-inter);
    color: #c4c4c4;
    font-size: 1.2rem;
    max-width: 700px;
}

@media (max-width: 1000px) {
    .description {
        font-size: 1rem;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a {
            font-family: var(--font-inter);
            font-size: 1.2rem;
            text-decoration: none;
            margin-right: 1.5rem;
            transition: color 0.3s;
            font-weight: 400;
            letter-spacing: 0.02rem;
            text-decoration: underline;

            -webkit-mask-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0) var(--mask-start),
                rgba(0, 0, 0, 1) var(--mask-end)
            );
            mask-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0) var(--mask-start),
                rgba(0, 0, 0, 1) var(--mask-end)
            );

            -webkit-mask-clip: no-clip;
            mask-clip: no-clip;

            &:hover {
                color: #fff;
            }

            @media (max-width: 1000px) {
                font-size: 1rem;
            }
        }

        .url {
            mask-image: linear-gradient(
                to right,
                transparent var(--mask-start),
                black var(--mask-end)
            );
            -webkit-mask-image: linear-gradient(
                to right,
                transparent var(--mask-start),
                black var(--mask-end)
            );
        }

        .urlOverlay {
            position: absolute;
            top: 0;
            left: 2.5rem;
            overlay: visible;

            -webkit-mask-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0) var(--mask-start),
                rgba(0, 0, 0, 1) var(--mask-end)
            );
            mask-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0) var(--mask-start),
                rgba(0, 0, 0, 1) var(--mask-end)
            );

            -webkit-mask-clip: no-clip;
            mask-clip: no-clip;

            @media (max-width: 1000px) {
                left: 2.2rem;
            }
        }

        svg {
            width: 1.4rem;
            height: 1.4rem;
            padding-top: 0.2rem;

            @media (max-width: 1000px) {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    @media (max-width: 1000px) {
        gap: 0.3rem;
    }
}

.backgroundContainer {
    position: fixed;
    bottom: -100px !important;
    top: unset !important;
    left: 0;
    width: 100%;
    height: 65% !important;
    z-index: -1;
    transform: translateZ(0);
    will-change: mask-image;
    backface-visibility: hidden;
}

.grain {
    position: fixed;
    bottom: -100px !important;
    width: 100%;
    height: 50%;
    z-index: 0;
    background-repeat: repeat;
    background-size: 300px;
    background-image: url("/grain.webp");
    opacity: 0.2;
    mask-image: radial-gradient(
        ellipse 180% 100% at 50% 100%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 1) 100%
    );
    transform: rotate(180deg);
    z-index: 1;
}
