.linkWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    &.forceShow,
    &:hover {
        .popupPreview {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0) scale(1);
        }
        .spacer {
            pointer-events: auto;
        }
        &::after {
            background-color: var(--text-primary);
        }
    }
}

.link {
    color: var(--text-primary);
    text-decoration: none;
    text-underline-offset: 4px;
    font-weight: 500;
    transition: filter 0.4s ease;
}

.linkWrapper::after {
    content: "";
    position: absolute;
    bottom: 2.5px;
    left: 0;
    height: 1px;
    z-index: 2;
    width: 100%;
    background-color: var(--border);
    transition: background-color 0.4s ease;
}

.link:hover::after {
    width: 100%;
}

.popupPreview {
    position: absolute;
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%) translateY(8px) scale(0.96);
    height: 135px;
    z-index: 50;
    width: 260px;
    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow:
        0 10px 25px -5px rgba(0, 0, 0, 0.3),
        0 8px 10px -6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        visibility 0.2s;

    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background: transparent;
        z-index: 2;
    }

    &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0) scale(1);
        cursor: pointer;
        .arrow {
            transform: rotate(45deg) translateX(0px);
        }
    }

    &:active {
        .arrow {
            transform: rotate(45deg) translateX(1px) translateY(-1px);
        }
    }

    @supports (corner-shape: squircle) or (-webkit-corner-shape: squircle) {
        & {
            corner-shape: squircle;
            border-radius: 20px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.spacer {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 12px;
    z-index: 49;
    background: transparent;
    pointer-events: none;
    &:hover + .popupPreview {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0) scale(1);
    }
}
